@import url("https://fonts.googleapis.com/css?family=Montserrat");
body{
    display: grid;
    place-items: center;
    font-family: Montserrat;
    margin: 0%;
    height: 100vh;
    div{
        h1{
            font-size: 4em;
        }
        p{
            font-size: 2em;
        }
    }
}