@import url("https://fonts.googleapis.com/css?family=Montserrat")
body{
    font-family: Montserrat;
    align-self: center;
    margin: 20%;
    div{
        h1{
            font-size: 4em;
        }
        p{
            font-size: 2em;
        }
    }
}